:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.active {
  background: var(--primary-color);
}

.message {
  padding: 6px;
  align-self: flex-start;
  border-radius: 5px;
  display: inline-block;
  margin: 6px;
  background: var(--message-color);
}

.message.even {
  background: var(--own-message-color);
  align-self: flex-end;
}
