:host {
  display: flex;
  width: 100%;
  align-items: stretch;
  position: fixed;
  bottom: 0;
  border-top: 1px solid lightgray;
}

button {
  background: var(--primary-color, green);
  border: none;
  color: var(--white-color);
}

input {
  padding: 12px;
  border: none;
  border-bottom: 1px solid gray;
  flex: 1;
}
